@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* MIXINS, VARIABLES */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing();
}

/* GLOBAL RULES */
body {
  background-color: rgb(150, 150, 150);
  padding-top: 60px;
  font-family: 'DM Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* TYPO */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* HEADER */
header > nav > li {
  margin-right: 20px;
}

#logo {
  float: left;
  margin-left: 50px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* HOME AND CALLTOACTION */
.cta {
  height: 80vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cta-button-logo{
  display: flex;
  flex-direction: column;
}

/* SIDEBAR FOR USERS */
aside {
  section.user-info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* FORMS */

input {
  width: 100%;
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing();
  height: 3vh;
}

#error_explanation {
    background-color: #F2DEDE;
    margin: 0 0 30px 0;
}

/* BUTTONS */
.button {
  font-size: 1.2em;
  color: #000;
  padding: 20px 60px;
  margin: 30px auto;
  border: 2px solid #000;
  box-shadow: 1px 2px #666666;
  border-radius: 8px;
  &:hover {
    color: #fff;
    background-color: #23527C;
    border: 1px solid #000;
    box-shadow: 1px 1px #666666;
  }
}

.btn-create-account {
  font-size: 1.5em;
  height: 8vh;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}

/* FOOTER */
footer {
  font-size: 1.2em;
  padding-top: 5px;
  border-top: 1px solid $gray-darker;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
